* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
    background-color: #000;
    color: #FFFF;
    font-size: x-large;
}

header {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin-block: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

footer {
    height: 5vh;
}

.grupoComandos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 10px;
    gap: 10px;
}

.cartaoComando {
    width: calc(25% - 20px);
    border: 1px solid #ff0000;
    border-radius: 20px;
    padding: 10px 5px;
    transition: 50ms;
    background-color: #000;
    color: #ff0000;
}

.cartaoComando:hover {
    background-color: #ff0000;
    scale: 105%;
    transform: translateY(-2.5%);
    color: white;
}

.Footer {
    display: flex;
    padding: 10px 30px;
    border-left: 4px solid #ff0000;
    padding: 15px 20px;
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;

}

footer hr {
    margin: 20px 0 20px 0;
}

footer div {
    display: flex;
    flex-direction: column;
    margin-block: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
