* {
    margin: 0px;
    padding: 0px;
}

.grupoComandos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cartaoComando {
    border: 1px solid #ff0000;
    border-radius: 20px;
    width: 85vw;
    height: 20vh;
}

@media screen and (min-width: 768px) {
    .grupoComandos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cartaoComando {
        border: 1px solid #ff0000;
        border-radius: 20px;
        width: calc(25% - 15px);
        min-height: fit-content;
    }
}

body {
    font-family: monospace;
    background-color: #000;
    color: #FFFF;
    font-size: x-large;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;

}

main {
    display: flex;
    flex-direction: column;
    margin-block: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

footer {

}

footer hr {
    margin: 20px 0 20px 0;
}

footer div {
    display: flex;
    flex-direction: column;
    margin-block: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cartaoComando:hover {
    background-color: #ff0000;
    scale: 105%;
    transform: translateY(-2.5%);
    color: white;
}

.Footer {
    display: flex;
    padding: 10px 30px;
    border-left: 4px solid #ff0000;
    padding: 15px 20px;
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;

}